html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: aliceblue;
}
nav{
    padding: 20px;
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-links ul{
    margin-right: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav .nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}
nav .nav-login{
    background-color: darkcyan;
}
nav .nav-login a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: darkgray;
}
.secao{
    border: solid 1px aliceblue;
    height: 100%;
}
footer{
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form{
    background-color: darkcyan;
    border-radius: 10px;
    width: 330px;
    height: 250px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 200px;
}
input{
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid darkblue;
    border-radius: 5px;
}
#imagem1, #imagem2{
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: fantasy;
}
p{
    display: flex;
    text-align: center;
    text-align: justify;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}