html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: aliceblue;
}
nav{
    padding: 20px;
    background-color: rgb(97, 97, 196);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-links ul{
    margin-right: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav .nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav .nav-login{
    background-color: rgb(97, 97, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav .nav-login a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: darkgray;
}
.secao{
    border: solid 1px aliceblue;
    height: 100%;
}
footer{
    background-color: rgb(97, 97, 196);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
footer p{
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    font-size: large;
}
footer a{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center
}
form{
    background-color: rgb(97, 97, 196);
    border-radius: 10px;
    width: 330px;
    height: 250px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 200px;
}
label{
    margin-top: 20%;
}
input{
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 2px solid rgba(0, 0, 93, 0.804);
    border-radius: 5px;
}
#imagem1, #imagem2{
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}
h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    display: flex;
    text-align: center;
    text-align: justify;
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#imagem3, #imagem4, #imagem5{
    display: flex;
    justify-content: center;
}